<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2" width="300">
        <tr>
            <th>empno</th>
            <th>ename</th>
            <th>job</th>
            <th>salary</th>
            <th>deptno</th>
        </tr>
        <tr>
            <td>                <%=a.empno%>            </td>
            <td>                <%=a.ename%>            </td>
            <td>                <%=a.job%>            </td>
            <td>                <%=a.salary%>            </td>
            <td>                <%=a.deptno%>            </td>
        </tr>
    </table>

    
</body>
</html>